@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #fff;
    height: auto;
}

main {
    max-width: 1200px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
    -30px 0px 40px rgba(0,0,0,0.1);
    background: #fff;
}

img {
    display: block;
    width: 100%;
}

.boxes {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.boxes a {
    text-decoration: none;
}

.boxes a:hover {
    transform: translateY(-10px);
}

.box {
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
    -30px 0px 40px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
}

.box h1 {
    color: #111;
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 5px;
}

.box h2 {
    font-size: 0.9rem;
    color: #444;
    font-weight: 400;
}

.box img {
    border-radius: 10px;
}

.navbar {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
    -30px 0px 40px rgba(0,0,0,0.1);
    padding-left: 50px;
    padding-right: 50px;
}

.navbar #title {
    text-decoration: none;
    color: #333;
}

.navbar h1:hover {
    text-decoration: underline;
}

.navbar #hamburger{
    display: inline-block;
    filter: invert();
    max-width: 40px;
}

.navbar #title:hover {
    color: #333;
}

footer {
    background: #ccc;
    color: #111;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    bottom: 0px;
    height: 100%;
}

footer h2 {
    font-size: 1rem;
    font-weight: 200;
}

@media(max-width: 968px) {
    .boxes {
        padding-top: 25px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .navbar #title {
        text-decoration: none;
        color: #333;
        padding-right: 100px;
        font-size: 0.7rem;
    }

    .navbar #hamburger{
        min-width: 35px;
    }

    .boxes a:hover {
        transform: translateY(-5px);
    }
}